modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "server"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://evicyfenmyundhbzqavl.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_EtJ214cJFGGAwQR9QXhDdw_JqQOK5OB"

[userenv.development]
FRONTEND_URL = "https://b1d5c3c8-1102-400f-805c-a0e45eaa5e22-00-31e5b6og0myih.worf.replit.dev"
